<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/admin.css">

<body>
  <div class="container flash">
    <% if (error && error.length > 0) { %>
      <div class="ui negative message">
        <i class="close icon"></i>
        <%= error %>
      </div>
    <% } %>
    <% if (warn && warn.length > 0) { %>
      <div class="ui warning message">
        <i class="close icon"></i>
        <%= warn %>
      </div>
    <% } %>
    <% if (success && success.length > 0) { %>
      <div class="ui positive message">
        <i class="close icon"></i>
        <%= success %>
      </div>
    <% } %>
</div>