<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  <link rel="stylesheet" href="/stylesheets/app.css">
  <title>Devloops | bits &amp; code</title>
</head>
<body>

  <!-- The Nav Bar -->
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <div class="header item logo">
        <i class="sync icon"></i>
        devloops
      </div>
      <a href="/" class="item">Home</a>
      
      <% if (currentUser && currentUser.isAdmin) { %>
        <a href="/blogs/new" class="item">New Post</a>

        <div class="right menu">
          <a href="#" class="ui grey item">Admin, <strong><%= currentUser.username %></strong></a>
          <a href="/admin/logout" class="ui item">Logout</a>
        </div>
      <% } %>
    </div>
  </div>

  <div class="container flash">
      <% if (error && error.length > 0) { %>
        <div class="ui negative message">
          <i class="close icon"></i>
          <%= error %>
        </div>
      <% } %>
      <% if (warn && warn.length > 0) { %>
        <div class="ui warning message">
          <i class="close icon"></i>
          <%= warn %>
        </div>
      <% } %>
      <% if (success && success.length > 0) { %>
        <div class="ui positive message">
          <i class="close icon"></i>
          <%= success %>
        </div>
      <% } %>
  </div>