
.ui.container-main {
  display: flex;
  padding-top: .5em;
  height: auto;
  width: 100%;
  flex-direction: column;
  align-items: center !important;
  justify-content: center;
}

.ui.form {
  width: 100%;
}

@media (min-height: 320px) {
  .ui.form-page { 
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
}

/* Flash Messages */
.flash {
  width: 70%;
  margin: .5em auto;
  text-align: center;
}