body {
  height: auto !important;
}

.logo i.icon {
  font-size: 2em;
  color: #c53ba1;
}

.logo {
  cursor: pointer;
}

.container.main {
  margin-top: 7.0em;
}

.delete-post {
  display: inline;
}

.right.chevron.icon {
  font-size: 1em;
}

/* @media (min-height: 320px) {
  .ui.form-page { 
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
} */

.ui.footer .ui.container {
  text-align: center;
  margin-top: 2em;
}

/* Flash Messages */
.flash {
  width: 70%;
  /* margin: 0 auto; */
  text-align: center;
  position: absolute;
  top: 5em;
  left: 16%;
}