body {
  height: auto !important;
}

.logo i.icon {
  font-size: 2em;
  color: #c53ba1;
}

.logo {
  cursor: pointer;
}

.container.main {
  margin-top: 7.0em;
}

.delete-post {
  display: inline;
}

.right.chevron.icon {
  font-size: 1em;
}

.ui.footer .ui.container {
  text-align: center;
  margin-top: 2em;
}

/* Flash Messages */
.flash {
  width: 70%;
  /* margin: 0 auto; */
  text-align: center;
  position: absolute;
  top: 5em;
  left: 16%;
}

/* SHOW PAGE */
img.ui.centered.image {
  width: 100%;
}

.cover-image {
  padding: 0 !important;
}

.cta.meta {
  color: #8e8e8e;
}

.description {
  font-size: 1.1em;
}

.description p {
  line-height: 1.69;
}

.ui.vertical.cta {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 15em;
  margin-top: 5em;
  padding-left: 2em;
  position: fixed;
}

.ui.grid > .show-page {
  padding: 0;
}

span.right.floated {
  float: right;
}

span.right.floated.cta.meta span {
  cursor: pointer;
}

span.right.floated.cta.meta span:hover .heart.like.icon {
  color: #db2828;
}

span.right.floated.cta.meta span:hover .comment.icon {
  color: #353433;
}

.likes-rating {
  padding-left: 1.2em;
}

/* MEDIA QUERY */
@media (max-width: 990px) {
  .ui.vertical.cta {
    display: flex;
    flex-direction: row;
    height: 3em;
    position: fixed;
    z-index: 100;
    align-items: center;
    padding-left: 2em;
    left: -1.8em;
    top: 0;
  }
}
    