

i.icon {
  font-size: 2em;
  color: #c53ba1;
}

.logo {
  cursor: pointer;
}

.container.main {
  margin-top: 7.0em;
}

.delete-post {
  display: inline;
}

.right.chevron.icon {
  font-size: 1em;
}

@media (min-height: 320px) {
  .ui.form-page { 
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
}