<% include ../partials/admin-header %>

<div class="ui container-main">
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui pink image header">
        <!-- <img src="assets/images/logo.png" class="image"> -->
        <div class="content">
          Log-in to your account
        </div>
      </h2>
      <form class="ui large form">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="username" placeholder="Username" autoFocus>
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="Password">
            </div>
          </div>
          <div class="ui fluid large pink basic submit button">Login</div>
        </div>

        <div class="ui error message"></div>

      </form>

      <div class="ui message">
        New to us? <a href="/users/admin/new">Sign Up</a>
      </div>
    </div>
  </div>

  <div class="ui vertical footer segment form-page">
    <div class="ui container">
      Devloops 2019. All Rights Reserved
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script src="/js/form-validate.js"></script>