<% include ../partials/admin-header %>

<div class="ui container-main">
  <div class="ui raised very padded middle aligned center aligned grid">
    <h2 class="ui text pink header">Register Admin</h2>
    <form action="/admin/new" method="POST" class="ui form container stacked segment">
      <div class="field">
        <label>Username</label>
        <input type="text" name="username" placeholder="username" autoFocus>
      </div>
      <div class="field">
        <label>Email</label>
        <input type="email" name="email" placeholder="name@admin.com">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" name="password" placeholder="password">
      </div>
      <div class="field">
        <label>Admin Code</label>
        <input type="password" name="adminCode" placeholder="Enter Admin PassCode">
      </div>
      <button class="ui pink basic button" type="submit">Submit</button>
      <div class="ui error message">
    </form>
  </div>

  <div class="ui message">
    Already have an account? <a href="/admin">Login</a>
  </div>

  <div class="ui vertical footer segment form-page">
    <div class="ui container">
      Devloops <%= moment().format('YYYY') %>. All Rights Reserved
    </div>
  </div>
</div>

<% include ../partials/admin-footer %>